# Dependencies
node_modules

# Build output
dist
*.tgz
*.tsbuildinfo

# Test coverage
coverage
*.lcov

# Logs
*.log

# Environment and local files
.env*.local
*.local.md
*.local.ts

# Caches
.cache

# IDEs
.idea

# VitePress
.vitepress/dist
.vitepress/cache

# OS
.DS_Store

# Misc
srcpack.config.ts
.srcpack/
